@model BE_LoansApp.Models.ThingViewModel

@{
    ViewData["Title"] = "Delete Thing";
}

<h1 class="text-center"> ABM Cosas - MVC</h1>

<div class="row">

    <div class="col.sm-12">
        <div class="card border">
            <div class="card-header">
                <h3 class="text-center"> Delete Things </h3>
            </div>
            <div class="card-body">
                <form asp-Controller="Home" asp-action="BorrarRegistro" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!--ID del usuario como campo Oculto -->
                    <input type="hidden" asp-for="Id" />
                    

                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" readonly />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Delete Thing</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Volver a Lista</a>
</div>
