<h2> Opciones</h2>
<hr>
<ul class="list-group">
    <li
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact:true }"
        class="list-group-item">
        Home
    </li>
    <li 
        routerLink="eventos"
        routerLinkActive="active"
        class="list-group-item">
        Listar Eventos
    </li>
    <li 
        routerLink="detalle/:id"
        routerLinkActive="active"
        class="list-group-item">
        Buscar Evento
    </li>

</ul>